<% if @short_url.present? %>
  <h1><%= link_to(short_url_url(@short_url.slug), short_url_path(@short_url.slug)) %></h1>
  <h2><%= link_to(@short_url.url, @short_url.url) %></h2>
  <p>Views count: <%= @short_url.views_count %></p>

  <% @statistics.each do |aggregation| %>
    <table>
      <tr>
        <th><%= aggregation.first.capitalize %></th>
        <th>Views</th>
      </tr>
      <% aggregation.last.buckets.each do |key| %>
        <tr>
          <td><%= key.key_as_string&.to_date || key[:key] %></td>
          <td><%= key.doc_count %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% else %>
  <%= render 'not_found' %>
<% end %>
